footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: whitesmoke;
    padding-inline: 100px;
    width: 100%;

    & figure {
        margin-right: 100px;

        & img {
            width: 50px;
            height: 50px;
        }
    }
}

.footer-content {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
}

ul {
    display: flex;
    flex-direction: column;

    gap: 20px;
    margin: 40px;
    list-style: none;
}

li {
    display: flex;
    gap: 26px;

    color: var(--gray-700);
}

.social-media {
    display: flex;
    margin-left: auto;
    gap: 22px;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        padding: 40px 32px;
        gap: 40px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 40px;

        & figure {
            margin-right: 0;
        }
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    ul {
        flex-direction: column;
        gap: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        align-items: center;
    }

    .social-media {
        margin-left: 0;
    }
}